#Correspondiente a la tabla Salarios

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salarios de empleados</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>De aqui ya no se que hacer</h1>
        <nav>
            <ul>
                <li><a href="/dfds">Inicio</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href=ht>Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
    
        <p>Se supone que aqui va algo</p>
    </main>

    <footer>
        <p>AQUI VA EL CRUD DE SALARIOS PRROS VIVA EL ENCEBOLADO DE DOLAR</p>
    </footer>
</body>
</html>
