{% extends 'base.html' %} {% block title %}Gestión de Salarios{% endblock %} {%
block body %}
<div class="container mt-4">
  <h1 class="text-center">Gestión de Salarios</h1>
  <div class="text-center mt-4">
    <a href="{{ url_for('home') }}" class="btn btn-secondary mb-4"
      >Volver al Inicio</a
    >
  </div>
  <h2>Registro de salario</h2>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="alert-container">
    {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}

  <!-- Formulario para agregar salario -->
  <form action="{{ url_for('add_salario') }}" method="POST" class="mt-4">
    <div class="mb-3">
      <label for="id_empleado" class="form-label">Empleado</label>
      <select id="id_empleado" name="id_empleado" class="form-control" required>
        <option value="" selected disabled>Seleccione un empleado</option>
        {% for empleado in empleados %}
        <option value="{{ empleado[0] }}">{{ empleado[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <label for="salario" class="form-label">Salario</label>
    <input
      type="number"
      id="salario"
      name="salario"
      class="form-control"
      placeholder="Ingrese el salario"
      step="0.01"
      required
    />

    <label for="fecha_pago" class="form-label">Fecha de Pago</label>
    <input
      type="date"
      id="fecha_pago"
      name="fecha_pago"
      class="form-control"
      required
    />

    <button type="submit" class="btn btn-primary mt-3">Agregar Salario</button>
  </form>

  <!-- Tabla para mostrar los salarios -->
  <table class="table table-bordered table-striped mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>ID del Empleado</th>
        <th>Salario</th>
        <th>Fecha de Pago</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for salario in salarios %}
      <tr>
        <td>{{ salario.id_salario }}</td>
        <td>{{ salario.nombre_empleado }}</td>
        <td>{{ salario.salario }}</td>
        <td>{{ salario.fecha_pago }}</td>
        <td>
          <a
            href="{{ url_for('edit_salarios', id=salario.id_salario) }}"
            class="btn btn-warning btn-sm"
            >Editar</a
          >
          <a
            href="{{ url_for('delete_salario', id=salario.id_salario) }}"
            class="btn btn-danger btn-sm"
            >Eliminar</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
